<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><!-- not just <!DOCTYPE html> to allow for border-box sizing and standards modes -->

<html lang="en">
<head>
	<meta http-equiv="x-ua-compatible" content="IE=8"/> <!-- for usage of IE8 and border-box sizing -->
    <meta charset="utf-8" />
    <title>Web Buckaroo</title>
    <link rel="stylesheet" type="text/css" href="../../../css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/article.css" />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600|Raleway:400' rel='stylesheet' type='text/css'>

    <span class="code-comment"><!--[if IE]></span>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <span class="code-comment"><![endif]--></span>
</head>

<body>
	<div class="wrapper">

		<header class="nav-bar clearfix">
	    	<h1><span id="buckaroo">WEB BUCKAROO</span></h1>
	    	<nav>
	    		<ul>
	    			<li id="home"><a href="#">Home</a></li>
	    			<li id="articles"><a href="#">Articles</a></li>
	    			<li id="about-me"><a href="#">About Me</a></li>
	    		</ul>
	    	</nav>
	    </header>

		<div class="main-wrapper clearfix">

			<article class="story">
				{{content}}
			</article>

	    </div>
    </div>
</body>
</html>